# Local development database configuration
# When running inside the devcontainer, the database host service is 'db'
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USERNAME=admin
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_SSL=